################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BankAPP2018sep/v15/Server/sqlite3
